body {
    background-color: #f1f1f1;
}

.mainMenu li {
    display: inline;
    margin: 5px;
    padding: 5px;
    background-color: #999999;
    width: 200px;
    border-radius: 4px;
    box-shadow: #dddddd 4px 4px 2px;
    border: 2px outset #cccccc;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

div#menuContainer,div#mainContainer {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}

h1,h2 {
    text-align: center;
}

div#tableContainer {
    width: 900px;
    margin: auto;
}